/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* 영어 강조, Playfair Display
, variable, 400 to 700 이탤릭가능 */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 영어 일반, Kanit, 100 to 900 이탤릭가능 */
@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
/* 한국어 강조, Song Myung, 400 */
@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Noto+Sans+KR:wght@100..900&display=swap");
/* 한국어 일반, noto sans korean, variable, 100 to 900 */

/* reset, variables */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/background.css";
@import "components/clock.css";
@import "components/greetings.css";
@import "components/todo.css";
@import "components/weather.css";

@import "components/body__name.css";
@import "components/body__main-upper.css";
@import "components/body__main-lower.css";
@import "components/body__quotes.css";

.body-setting {
  padding: 0px var(--horizontal-space);
}

.text-title {
  font-family: "Playfair Display", "noto sans korean";
  font-style: italic;
  font-weight: 500;
  font-size: 83px;
  color: white;
}

.text-normal {
  font-family: "Kanit", "noto sans korean";
}

.text__body-name {
  font-size: 15px;
  color: white;
}

.text__body-main-lower {
}

.text__body-main-upper {
  font-size: 30px;
  font-weight: 500;
}

.text__body-quotes-author {
  font-family: "Playfair Display", "noto sans korean";
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
}

.text__body-quotes-text {
  font-family: "Kanit", "noto sans korean";
  font-size: 30px;
  font-weight: 400;
}
