/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* 영어 강조, Playfair Display
, variable, 400 to 700 이탤릭가능 */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 영어 일반, Kanit, 100 to 900 이탤릭가능 */
@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
/* 한국어 강조, Song Myung, 400 */
@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Noto+Sans+KR:wght@100..900&display=swap");
/* 한국어 일반, noto sans korean, variable, 100 to 900 */

/* reset, variables, text */
@import "reset.css";
@import "variables.css";
@import "text.css";

/* Components */
@import "components/logIn.css";
@import "components/title.css";
@import "components/main-upper.css";
@import "components/main-lower.css";
@import "components/quotes.css";
@import "components/background.css";

body {
  background-color: black;
  position: relative;
}

.body-setting {
  padding: 0px var(--horizontal-space);
}
