:root {
  --horizontal-space: 5.7vw;
  --color-transBlack: rgba(0, 0, 0, 0.95);
  --color-transWhite: rgba(255, 255, 255, 0.85);
  --color-transGray: rgba(255, 255, 255, 0.3);
  --color-transGray2: rgba(255, 255, 255, 0.65);
  --color-transOrange: rgba(255, 165, 0, 0.85);
}
