.body__name {
  height: 85px;
  background-color: black;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.body__name div {
}

.body__name div span {
  display: block;
  height: 23px;
}

.body__name div:first-child {
  width: 25%;
}
.body__name div:last-child {
  width: 75%;
}

.body__name div:first-child span {
  padding: 0px 0px 0px 45px;
}

.body__name div:first-child div {
  width: 95%;
  height: 15px;
  border-top: var(--border-gray);
}

.body__name div:last-child div {
  width: 100%;
  height: 15px;
  border-top: var(--border-gray);
}
